<!--===================-->
<!--this file is created to provide shared links for all pages-->

<% if user_signed_in? %>
<div class="header" style="background-color: #333; color: #fff; padding: 10px 20px; display: flex; justify-content: space-between; align-items: center;">
  <div class="user-info" style="font-weight: bold;">
    Hi, <%= current_user.email %>!
  </div>
  <div class="nav-links">
    <%= link_to 'Home', root_path, style: 'color: #fff; text-decoration: none; margin-right: 10px; display: inline-block;' %> |
    <%= link_to 'Event Dashboard', events_path, style: 'color: #fff; text-decoration: none; margin-right: 10px; display: inline-block;' %> |
    <%= link_to 'Email Service', email_services_path, style: 'color: #fff; text-decoration: none; margin-right: 10px; display: inline-block;' %> |
    <%= link_to 'Edit Profile', edit_user_registration_path, style: 'color: #fff; text-decoration: none; margin-right: 10px; display: inline-block;' %> |
    <%= link_to("Sign Out", "https://events360.herokuapp.com/logout", style: 'background-color: #ff5733; color: #fff; border: none; padding: 5px 10px; cursor: pointer; display: inline-block;') %>
    </div>
</div>
<% end %>
