<h1>Response Form</h1>
<p>Response for invitation to event <%= @event.title %></p>

<%= form_for [@event, @guest] do |f| %>
  <p>
    <%= f.label :email_address, :class => 'col-form-label'%><br>
    <%= f.text_field :email_address, value: @guest.email_address, :class => 'form-control' %>
  </p>

  <p>
    <%= f.label :booking_status, 'Will you come to this event?', :class => 'col-form-label'%><br>
		<%= f.radio_button(:booking_status, "Yes") %>
  		<%= label_tag(:booking_status, "Yes") %>
		<%= f.radio_button(:booking_status, "No") %>
  		<%= label_tag(:booking_status, "No") %>
	</p>

  <p>
		<%= f.label :total_booked_num, 'How many tickets would you like?', :class => 'col-form-label'%><br>
		<%= f.select :total_booked_num, Array(0..@guest.max_seats_num), {}, {:class => 'form-control col-1'} %>
  </p>
 
  <p>
    <%= submit_tag 'Submit', :class => 'btn btn-primary' %>
  </p>
<% end %>
