<head>
<%= csrf_meta_tags %>
</head>

<style>
  #form-div, #referral{
    
    text-align: center;
  }

  .ticket {
            text-align: center;
            border: 3px solid black;
            margin: 50px;
    }

  #file-button{
    margin-left: 20%;
  }

  body {

  background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(https://www.teahub.io/photos/full/197-1977791_portland-wallpapers-hd-portland-oregon-city-view.jpg);
  background-repeat: no-repeat; 
  background-position: center;
  background-attachment: fixed; 
  webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:100%;
  width:100%; 
  
}

section{
  padding: 40px;
  padding-bottom: 100vh;
}

.display-6, h2, h3, h4, input, label{
  color: white;
  text-align: center;
}

div {
  align-items: center;
}

p {
  color: black;
  display: table-row;
  text-align: center;
}

label{
  display: table-cell;
}

input {
  color: white; 
  background-color: transparent; 
  border: 2px solid white; 
  border-radius: 2px; 
  padding: 5px;
  font-size: 16px;
  display: table-cell;
}

form{
  display: table;
  margin-left: 25%
}

.button{
  color: white; 
  background-color: transparent; 
  border: 2px solid white; 
  border-radius: 2px; 
  padding: 5px;
}

.button:hover {
  opacity: 0.5;
}
</style>

<body>
<section>
<div id="new-guests">
  <form id="guest-form" method='post' action='/events/<%= @event.id %>/guests'>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <input type="hidden" id="event_id" name="event_id" value=<%= @event.id %>>
  <input type="hidden" id="added_by" name="added_by" value=<%= @event.user_id %>>
  <p>
    <label for="first_name">First Name:</label>&nbsp<input type='text' id='first_name' name='first_name'><br><br>
  </p>
  <p>
    <label for="last_name">Last Name:</label>&nbsp<input type='text' id='last_name' name='last_name'><br><br>
  </p>
  <p>
    <label for="email">Email:</label>&nbsp<input type='text' id='email' name='email'><br><br>
  </p>
  <p>
    <label for="affiliation">Affiliation:</label>&nbsp<input type='text' id='affiliation' name='affiliation'><br><br>
  </p>
  <p>
    <label for="perks">Perks:</label>&nbsp<input type='text' id='perks' name='perks'><br><br>
    </p>
  <p>
    <label for="comments">Comments:</label>&nbsp<input type='text' id='comments' name='comments'><br><br>
  </p>
  <p>
    <label for="category">Seat Category:</label>&nbsp<input list="category" name="category">
    <datalist id="category">
      <% @seats.each do |seat|%>
        <option value=<%= seat.category %>></option>
      <% end %>
    </datalist><br><br>
  </p>
    <button type="submit" value="submit" class="button">Add Guest</button>
  </form>
</div>
</section>
</body>

<!-- this is the basic code to add guests directly though other way looks fine, this is option like Seating Types table -->
<div>
      <form method="post" action="/events/<%= @event.id %>/guests">
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <input type="hidden" id="event_id" name="event_id" value=<%= @event.id %>>
      <input type="hidden" id="added_by" name="added_by" value=<%= @event.user_id %>>
      <table>
        <tr>
          <th><input type='text' id='first_name' name='first_name'></th>
          <th><input type='text' id='last_name' name='last_name'></th>
          <th><input type='text' id='email' name='email'></th>
          <th><!-- blank spot --><th>
          <th><input type='text' id='affiliation' name='affiliation'></th>
          <th><input type='text' id='perks' name='perks'></th>
          <th input type = 'text' id = 'comments' name ='comments'></th>
          <th>
            <input list="category" name="category">
            <datalist id="category">
              <% @seats.each do |seat|%>
                <option value=<%= seat.category %>></option>
              <% end %>
            </datalist><br><br>
          </th>
          <th><!-- blank spot --></th>
          <th><!-- blank spot --></th>
        </tr>
      </table>
      <button type="submit" value="submit" class="button">Add Guest</button>
      </form>
    </div>
  </div><br><br>
