<br><br><br><br>
<style>
  body {
   
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(https://www.teahub.io/photos/full/197-1977791_portland-wallpapers-hd-portland-oregon-city-view.jpg);
    background-repeat: no-repeat; 
    background-position: center;
    background-attachment: fixed; 
    webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height:100%;
    width:100%; 
    
  }

  input, select, textarea{
    color: white;
  }

  .field {
    color: white;
  }

  h1, h2, h3, p{
    color: white;
  }

  i {
    text-align: "center";
    font-size: 12px;
  }

</style>

<body>
<div style="text-align: center">
<h2>Edit <%= resource_name.to_s.humanize %></h2>

<br>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class:"btn btn-transparent btn-rounded", style:"border: 2px solid white; border-radius: 5px; color: white;" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <br><br>
  <div class="field">
    <%= f.password_field :password, autocomplete: "new-password", placeholder:"New Password", class:"btn btn-transparent btn-rounded", style:"border: 2px solid white; border-radius: 5px; color: white;" %><br>
    <% if @minimum_password_length < 6 %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>
  <br>
  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder:"Confirm New Password", class:"btn btn-transparent btn-rounded", style:"border: 2px solid white; border-radius: 5px; color: white;" %>
  </div>

  <br><br>
  <div class="field">
    <%= f.password_field :current_password, autocomplete: "current-password", placeholder: "Current Password", class:"btn btn-transparent btn-rounded", style:"border: 2px solid white; border-radius: 5px; color: white;" %>
  </div>

  <br>
  <div class="actions">
    <%= f.submit "Update", class:"btn btn-transparent btn-rounded", style:"border: 2px solid white; border-radius: 5px; color: white;" %>
  </div>
<% end %>

<br><br>
<h3>Unhappy? Don't worry, no hard feelings.</h3>
<br>
<%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class:"btn btn-transparent btn-rounded", style:"border: 2px solid white; border-radius: 5px; color: white;" %>
<br>
<%= link_to "Back", :back, class:"btn btn-transparent btn-rounded", style:"border: 2px solid white; border-radius: 5px; color: white;" %>
</div>
</body>