<br><br><br><br>
<style>
  body {
   
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(https://www.teahub.io/photos/full/197-1977791_portland-wallpapers-hd-portland-oregon-city-view.jpg);
    background-repeat: no-repeat; 
    background-position: center;
    background-attachment: fixed; 
    webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height:100%;
    width:100%; 
    
  }

  input, select, textarea{
    color: white;
  }
  
</style>
<body>
<div style="text-align: center">
<h2 style="color: white;">Sign up</h2><br>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "email address", style: "background-color: transparent; border: 2px solid white; border-radius: 2px; padding: 5px;" %>
  </div>

  <br>

  <div class="field">
    <% if @minimum_password_length %>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", placeholder: "password", style: "background-color: transparent; border: 2px solid white; border-radius: 2px; padding: 5px;" %>
    <br>
    <%= f.label "6 characters minimum" , :style => "color: white"%>
  </div>

  <br>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "confirm password", style: "background-color: transparent; border: 2px solid white; border-radius: 2px; padding: 5px;" %>
  </div>

  <br>

  <div class="actions">
    <%= f.submit("Sign up", class:"btn btn-transparent btn-rounded", style:"border: 2px solid white; border-radius: 5px; color: white;")%>
  </div>
<% end %>
<br>
<%= render "devise/shared/links" %>
</div>
</body>