<div id='purchase' data-controller='purchase update'
    data-purchase-url-value='/api/v1/events/<%= @event_id %>/purchase?token=<%= @token %>&referee=<%= @referee %>'
    data-update-url-value='/api/v1/events/<%= @event_id %>/purchase'
    data-action='update:created->purchase#disableSubmit'>
  <template data-purchase-target='template'>
    <div> 
      <p style="color: black"><b><strong>Event Details: <b></b>
      </p>
      <div class='card'>
        <img class='img-fluid' data-nxt-image_url>
        <div class='card-body'>
          <h5 class='card-title' data-nxt-title></h5>
          <h6 class='card-subtitle mb-2 text-muted datetime' data-nxt-datetime></h6>
          <h6 class='card-subtitle mb-2 text-muted address' data-nxt-address></h6>
          <p class='card-text description' data-nxt-description></p>
        </div>
      </div>
    </div>
  </template>
  <div class='mb-3' data-purchase-target='dom'></div>
  <p>
    Enter number of tickets to be purchased.
  </p>
  <form id='form-purchase' data-action='update#sendCountForm'>
    <div class='input-group mb-3'>
      <input type='hidden' name='token' value='<%= @token %>'>
      <input type='hidden' name='referee' value='<%= @referee %>'>
      <input type='number' name='tickets' placeholder='0'>
      <button class='btn btn-outline-success' type='submit' value='submit' form='form-purchase'
          data-purchase-target='submit' data-action='dynamic#updateText' data-dynamic-text-param='Purchased'>Purchase</button>
    </div>
  </form>
</div>
