<br><br><br><br>
<style>
  body {
   
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(https://www.teahub.io/photos/full/197-1977791_portland-wallpapers-hd-portland-oregon-city-view.jpg);
    background-repeat: no-repeat; 
    background-position: center;
    background-attachment: fixed; 
    webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height:100%;
    width:100%; 
    color: white;
    
  }

input, select, textarea{
    color: white;
}


</style>
<body>
<div style="text-align: center">

<h2 style="color: white;">Admin Login</h2>

<br>

<p style="color: white;">Welcome to EVENTNXT, a tool to manage your Guest List RSVP and Box Office Ticket Sales data of your event in real-time. Have a comprehensive picture of your yet-to-be-booked seats at any time from one central portal. Let’s get started. </p>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field" >
    <%
=begin%>
 <%= f.label :email %> 
<%
=end%>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email Address", style: "color: white; background-color: transparent; border: 2px solid white; border-radius: 2px; padding: 5px;"%>
  </div>

  <br>

  <div class="field" >
    <%
=begin%>
 <%= f.label :password %> 
<%
=end%>
    <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password", style: "background-color: transparent; border: 2px solid white; border-radius: 2px; padding: 5px;"%>
  </div><br>

  <% if devise_mapping.rememberable? %>
    <div class="field" style="color: white;">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <br>
  <div class="actions">
    <%= f.submit("Log in", class:"btn btn-transparent btn-rounded", style:"border: 2px solid white; border-radius: 5px; color: white;")%>
  </div>
<% end %>
<br>
<div style="color: white;">
<%= render "devise/shared/links" %>
</div>

</div>
</body>