<% content_for :nav do %>
  <%= render 'layouts/nav' %>
<% end %>
<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>">
    <%= value %>
  </div>
<% end %>
<style>
  /* body {

      background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(https://www.teahub.io/photos/full/197-1977791_portland-wallpapers-hd-portland-oregon-city-view.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-attachment: fixed;
      webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      height:100%;
      width:100%;

    } */

  section {
    padding: 40px;
    padding-bottom: 100vh;
    background-color: white;
  }

  h3 {
    text-align: center;
  }

  #referral-button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    padding: 20px;
    font-size: 20px;
    text-decoration: none;
    color: white;
    background-color: black;
  }

  .level-contents-toggle {
    text-align: center;
  }

  #referral-contents-toggle {
    display: none;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
    background-color: #e6ccff;
    color: black;
    border-radius: 10px;
    padding: 10px;
  }

  #guest-list-table {
    display: none;
    padding: 20px;
  }

  table,
  th,
  td {
    border: 1px solid black;
  }

  /* th, td {
      padding: 5px;
      #width: 209.8px;
    } */

  th.value input {
    width: 100%
  }

  .seating-levels-columns {
    font-size: 1.45rem;
  }

  .tbody tr {
    font-size: 1.45rem;
    /* Adjust this value as needed */
  }

  .table {
    border-radius: 17px;
  }
   .import-link {
  color: blue;
  text-decoration: underline;
}
</style>
<script>
  function toggle_referral() {
    var button_name = document.getElementById("referral-prepper");
    var x = document.getElementById("referral-contents-toggle");
    if (button_name.innerHTML == "Open Referral Reward Template") {
      button_name.innerHTML = "Close Referral Reward Template";
      x.style.display = "block";
    } else {
      button_name.innerHTML = "Open Referral Reward Template";
      button_name.style.background = "lightgreen";
      x.style.display = "none";
    }
  }

  function guest_table_toggle() {
    var button_name = document.getElementById("guest-list-table-toggle");
    var x = document.getElementById("guest-list-table");
    if (button_name.innerHTML == "Guest-List Table") {
      button_name.innerHTML = "Close Guest-List Table";
      x.style.display = "block";
    } else {
      button_name.innerHTML = "Guest-List Table";
      x.style.display = "none";
    }
  }

  function referral_table_toggle() {
    var button_name = document.getElementById("referral-table-toggle");
    var x = document.getElementById("referral-table");
    if (button_name.innerHTML == "Referral Table") {
      button_name.innerHTML = "Close Referral Table";
      x.style.display = "block";
    } else {
      button_name.innerHTML = "Referral Table";
      x.style.display = "none";
    }
  }

  function seating_table_toggle() {
    var button_name = document.getElementById("seating-table-toggle");
    var x = document.getElementById("seating-table");
    if (button_name.innerHTML == "Seating Levels") {
      button_name.innerHTML = "Close Seating Levels";
      x.style.display = "block";
    } else {
      button_name.innerHTML = "Seating Levels";
      x.style.display = "none";
    }
  }

  function refresh() {
    // or $('#myform')[0] with jQuery
    $("#reward-msg").load(location.href + " #reward-msg");

  }
</script>
<!-- event detail start -->
<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <% if @event.image.attached? %>
        <img class="d-block mx-lg-auto img-fluid w-100 rounded shadow" src='<%= url_for(@event.image) %>'
                    alt='Event image' width="700" height="500" loading="lazy">
      <% end %>
    </div>
    <div class="col-lg-6 col-sm-12">
      <h1 class="display-5 fw-bold lh-1 mb-4">
        <%= @event.title %>
      </h1>
      <p class="lead"><strong>Event Date: </strong>
        <%=@event.datetime %>
      </p>
      <!-- format this to look nicer -->
      <p class="lead"><strong>Address:</strong>
        <%=@event.address %>
      </p>
      <!-- <p><b>Event Address: 1255 NW 9th Ave, Portland, OR 97209</b></p> Example of what addr should look like-->
      <p class="lead"><strong>Description: </strong>
        <%=@event.description %>
      </p>
      <div data-controller='update dynamic' data-update-url-value='/api/v1/events'
                  data-action='update:updated->dynamic#reload'>
        <%= render 'form' %>
      </div>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <div class='d-flex mt-2'>
          <button class='btn btn-primary me-2 btn-lg px-4 me-md-2' data-bs-toggle="modal"
                      data-bs-target="#event-modal">Edit Event</button>
          <%= button_to "Delete Event" , @event, :method=> :delete, data: {confirm: "Are you sure you want to
                      delete this event?"}, class: 'btn btn-danger btn-lg px-4 me-md-2' %>
                      
          <!--added by Sushmita-->
          <!--<%= button_to "Duplicate Event", @event, :method=> :duplicate, class: 'btn btn-primary btn-lg px-4 me-md-2' %>-->
          <%= button_to "Duplicate Event", duplicate_event_path(@event.id), method: :post, class: 'btn btn-primary btn-lg px-4 me-md-2' %>

        </div>
      </div>
    </div>
  </div>
</div>
<script>
  var eventModal = document.getElementById('event-modal')
  var updateButton = eventModal.querySelector('button[type="submit"]')
  eventModal.addEventListener('show.bs.modal', function (event) {
    var button = event.relatedTarget
    eventModal.querySelector('.modal-title').textContent = "Update Event"
    eventModal.querySelector('button[type="submit"]').textContent = "Update"
    eventModal.querySelector('input[data-nxt-id]').setAttribute('data-nxt-id', "<%= @event.id %>")
    eventModal.querySelector('input[data-nxt-id]').value = "<%= @event.id %>"
    eventModal.querySelector('#event-name').value = "<%= @event.title %>"
    eventModal.querySelector('#event-address').value = "<%= @event.address %>"
    eventModal.querySelector('#event-description').value = "<%= @event.description %>"
    eventModal.querySelector('#event-datetime').value = (new Date("<%= @event.datetime.to_fs(:iso8601) %>")).toISOString().slice(0,16)
    eventModal.querySelector('#event-boxoffice').value = "<%= @event.box_office %>"
  })
</script>
<%# Manage Seating Levels %>
<div class="container">
  <h1 class="display-5 fw-bold lh-1 mb-4 text-center">Manage Seating Levels</h1>
  <table class="table table-dark table-striped table-hover shadow-lg">
    <thead class="seating-levels-columns">
      <tr>
        <th>Category</th>
        <th>Total Count</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @seats.each do |seat| %>
        <% Rails.logger.info "Seat id: #{seat.id}, category: #{seat.category}" %>
        <%= content_tag :div, class: 'tr' , id: dom_id(seat) do %>
          <%= render seat %>
        <% end %>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <%= form_with url: event_seating_types_path(@event), local: true do |form| %>
          <td>
            <%= form.label :category, 'Category' , class: 'lead fw-bold' %>
            <%= form.text_field :category, name: 'seat[category]' , class: 'form-control lead fw-bold', required: true %>
          </td>
          <td>
            <%= form.label :total_count, 'Total Count' , class: "form-label-input lead fw-bold" %>
            <%= form.number_field :total_count, name: 'seat[total_count]' , class: 'form-control fw-bold',required: true %>
          </td>
          <td>
            <%= form.submit ' Add' , class: 'btn btn-info text-white fw-bold' %>
          </td>
        <% end %>
      </tr>
    </tfoot>
  </table>
</div>
<%# end of manage seating levels %>
<br>
<!--<h4> Box Office Seating </h4>-->
<!--<div id='boxoffice-seating' class='mb-4'>-->
<!--  <table class="center">-->
<!--    <tr>-->
<!--      <th width=199.8>Category</th>-->
<!--      <th width=199.8>Total Sold</th>-->
<!--    </tr>-->
<!--    <tbody>-->
<!--      <% @boxoffice_seats.each do |result| %>-->
<!--      </tr>-->
<!--      <th width=199.8>-->
<!--        <%= result.seat_section %>-->
<!--      </th>-->
<!--      <th width=199.8>-->
<!--        <%= result.booked_count %>-->
<!--      </th>-->
<!--    </tr>-->
<!--  <% end %>-->
<!--</tbody>-->
<!--</table>-->
<!--</div>-->

<div class="container">
  <h4 class="display-5 fw-bold lh-1 mb-4 text-center">Seating Summary Information </h4>
  <div id='seating-summary' class='mb-4'>
  <table class="table table-striped table-hover">
  <!--<table class="center">-->
    <tr>
      <th width=199.8>Category</th>
      <th width=199.8>Total Seats</th>
      <th width=199.8>VIP Guests</th>
      <th width=199.8>Total Allotted</th>
      <th width=199.8>Total Committed</th>
      <th width=199.8>Total Sold</th>
      <th width=199.8>Free Seats</th>
      <th width=199.8>Tentative Free Seats (based on seats allotted to guests)</th>
      <!--       <th width=199.8>Balance</th> -->
    </tr>
    <tbody>
      <% @res.each do |result| %>
        <tr>
          <th width=199.8><%= result.category %></th>
          <th width=199.8><%= result.total_count %></th>
          <th width=199.8><%= result.total_guests %></th>
          <th width=199.8><%= result.total_allotted%></th>
          <th width=199.8><%= result.total_committed %></th>
          <th width=199.8><%= result.boxoffice_booked %></th>
          <th width=199.8><%= result.remaining %></th>
          <th width=199.8><%=  result.tentative_remaining %></th>
          <!--           <th width=199.8><%= result.balance %></th> -->
        </tr>
      <% end %>
    </tbody>
  </table>
  </div>
</div>
<!-- button to edit/add guests -->
<br>
<div class="container">
<h4 class="display-5 fw-bold lh-1 mb-4 text-center">Manage Guests</h4>
<div class='mb-4'>
  <div class='d-flex justify-content-between'>
    <div class='d-flex'>
      <%= render 'email_template' %>
      <span class='ms-2 me-2'></span>
      <%= render 'email_modal' %>
      <span class='ms-2 me-2'></span>
      <%= render 'bulk_email' %>
      <span class='ms-2 me-2'></span>
      <%= render 'rsvp_expiry' %>
    </div>
    <div>
      <a href='/api/v1/events/<%= @event_id %>/guests?download'><button class='btn btn-primary'>Export
          Guest List</button></a>
    </div>
  </div>
  <%= render 'guest_list' %>
</div>
</div>

<!--Added by Sushmita for guest import-->
<div class="container">
<h2>Import Guests</h2>
<div class='mb-4'>
<%= form_tag import_csv_guests_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= hidden_field_tag :event_id, @event.id %>
  <%= submit_tag "File Upload" , class: "btn btn-primary"%>
<% end %>
</div>
<div class='mb-4'>
  <%= link_to "Import from Other Ticketing Sites", new_guest_guests_path, class: "btn btn-primary" %>
</div>
</div>
<br>

<div class="container">
<h4 class="display-5 fw-bold lh-1 mb-4 text-center">Manage Box Office Sales</h4>
<div class='mb-2'>
  <%= render 'bulk_referral_email' %>
  <span class='ms-2 me-2'></span>
  <%= render 'box_office_data' %>

</div>
</div>
<br>

<div class="container">
<h4 class="display-5 fw-bold lh-1 mb-4 text-center">Manage Referrals</h4>
<%= render 'referral_table' %>
</div>

<script>
  var emailModal = document.getElementById('email-modal')
  emailModal.addEventListener('show.bs.modal', function (event) {
    var button = event.relatedTarget
    var recipient = button.getAttribute('data-nxt-email')
    var modalInput = emailModal.querySelector('#email-to')
    modalInput.value = recipient
  })
</script>
<script>
  var bulkEmailModal = document.getElementById('bulk-email')
  bulkEmailModal.addEventListener('show.bs.modal', function () {
    var forms = document.querySelectorAll("[name=guest_display]");
    var recipients = "";

    for (var i = 0, n = forms.length; i < n; i++) {
      if (forms[i].elements['guest_selector'].checked) {
        recipients += forms[i].elements['guest_email'].value + ";"
      }
    }
    var bulkModal = document.getElementById('bulk-email')
    var modalInput = bulkModal.querySelector('#email-to')
    modalInput.value = recipients
  })
</script>
<script>
  var bulkEmailModal = document.getElementById('bulk-referral-email')
  bulkEmailModal.addEventListener('show.bs.modal', function () {
    var forms = document.querySelectorAll("[name=boxoffice_display]");
    var recipients = "";

    for (var i = 0, n = forms.length; i < n; i++) {
      if (forms[i].elements['boxoffice_selector'].checked) {
        recipients += forms[i].elements['boxoffice_email'].value + ";"
      }
    }
    var bulkModal = document.getElementById('bulk-referral-email')
    var modalInput = bulkModal.querySelector('#email-to')
    modalInput.value = recipients
  })
</script>
<script>
  var setExpiryModal = document.getElementById('invite-expiry')
  setExpiryModal.addEventListener('show.bs.modal', function () {
    var forms = document.querySelectorAll("[name=guest_display]");
    var recipients = "";

    for (var i = 0, n = forms.length; i < n; i++) {
      if (forms[i].elements['guest_selector'].checked) {
        recipients += forms[i].elements['guest_email'].value + ";"
      }
    }
    var expiryModal = document.getElementById('invite-expiry')
    var modalInput = expiryModal.querySelector('#set-expiry-to')
    modalInput.value = recipients
    console.log(recipients)
  })
</script>

<!--<div id="form-div"> -->
<!--<h3>Import Box Office Data</h3>-->
<!--<%= form_tag import_new_spreadsheet_path, multipart: true  do %> -->
<!--  <div style="text-align: center;">-->
<!--    <br>-->
<!--    <%= label_tag(:file, "Accepted types: .xlsx") %><br>-->
<!--    <%= file_field_tag(:file, :id => "file-button", required: true) %><br><br>-->
<!--    <%= submit_tag("Import Latest Box Office Data", :class => "button") %>-->
<!--  </div>-->
<!--<% end %>-->
<!--</div>-->
<!--<h4 class="display-10" style="text-align: center; color: gray;"> Referral Rewards </h1><br><br>
<div id="referral">
  <div style="text-align: center;" id="center-referral-button">
    <button type="button" id="referral-prepper" class="btn btn-success btn-rounded" onclick="toggle_referral()">Open Referral Reward Template</button>
  </div>
  <br><br>
  <div id="referral-contents-toggle">
  <h4>Referral Reward Email Template</h4>
  <div class="referral-template" style="background: white; color: black;"> 
        <p>Hi Guest,</p>
        <p id="reward-msg">Please send your friend an invitation to FashionNXT by inserting their email in the box below. You will receive <%= $reward.to_s %> Reward if any of your friends purchase tickets to FashionNXT.</p>
        <p id="email"><b>Email:  <%= label_tag(:email, "")%>
        <%= text_field_tag(:email, nil, :required => 'true', placeholder: "email", style:"color: black;")%><br><br></p>
        <p>Choose the date you are going and want your friends to join:</p>
        <p id="event-date"><b>Event date:  <%= label_tag(:event_date, "") %>
        <%= text_field_tag(:event_date, nil, :required => 'true', placeholder: "MM/DD/YYYY", style:"color: black;")%><br><br></p>
  </div>

    <%= form_tag '/events/create_event', :id => "referral-form", :remote => true do %>
    <%= label_tag(:reward, "Insert Reward:", :style => "color: black;") %>
    <%= text_field_tag(:reward, nil, :required => 'true', placeholder: "XYZ Reward", :style => "color: black;")%><br><br>
    <%= submit_tag "Save Changes", :id => "thisone", :class => "btn btn-success btn-rounded" %>
    <% end %>
       
      <br>
        <%= button_tag "Preview Changes", :id => "thisone", :type => "button", :class => "btn btn-success btn-rounded", :onclick => "refresh()" %>
      <br>



    <br><%= button_to "Back to Dashboard", root_path, :class => "btn btn-success btn-rounded", :type => "button", :method => "get" %>

</div>-->
<br><br>
<div class="container">
  <%= link_to "Back" , '/events' , style:"height:40px;width:80px", class:"btn btn-primary" %>
  <br><br>
</div>



