<%# following changes are made:
        - deleted the section that lists the parent_id of the related parent, 
          since this is not essential information in the view. %>

<div id="<%= dom_id guest %>">
  <table style="width: 1000px; table-layout: fixed;border: 1px solid #ccc; border-collapse: collapse; text-align: left;">
   <tr>
      <td style="padding:10px;border-bottom: 1px solid #ccc; border-right: 1px solid #ccc"><%= guest.first_name %></td>
      <td style="padding:10px;border-bottom: 1px solid #ccc; border-right: 1px solid #ccc"><%= guest.last_name %></td>
      <td style="padding:10px;border-bottom: 1px solid #ccc; border-right: 1px solid #ccc"><%= guest.affiliation %></td>
      <td style="padding:10px;border-bottom: 1px solid #ccc; border-right: 1px solid #ccc"><%= guest.category %></td>
      <td style="padding:10px;border-bottom: 1px solid #ccc; border-right: 1px solid #ccc"><%= guest.alloted_seats %></td>
      <td style="padding:10px;border-bottom: 1px solid #ccc; border-right: 1px solid #ccc"><%= guest.commited_seats %></td>
      <td style="padding:10px;border-bottom: 1px solid #ccc; border-right: 1px solid #ccc"><%= guest.guest_commited %></td>
      <td style="padding:10px;border-bottom: 1px solid #ccc; border-right: 1px solid #ccc"><%= guest.status %></td>
      <td style="padding:10px;border-bottom: 1px solid #ccc; border-right: 1px solid #ccc"><%= link_to "Detailsgi", [@event, guest], style: 'display: inline-block; width: 80%; padding: 10px 20px; background-color: #007bff; color: #fff; text-decoration: none; border: none; border-radius: 5px; cursor: pointer; margin-left: 10px;' %></td>
    </tr>
  </table>
</div>

