<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
        <style>
    
        .ticket {
            text-align: center;
            border: 3px solid black;
            margin: 100px;
        }
        img {
            position: relative;
            background-repeat: no-repeat
            text-align: center;
            height: 300; 
            max-width: 100%
            display:block;
            border: 1px solid #ddd;
            border-radius: 4px;
            padding: 5px;
            width: 4000px;
        }
        table {
          border:2px solid black;
        }
        
        referral-button {
            -webkit-appearance: button;
            -moz-appearance: button;
            appearance: button;
            text-decoration: none; 
            color:black; 
            border: 2px solid #b94c4c; 
            padding: 10px 30px;
            font-weight: bold;
        }
        
    </style>
  </head>
  <body>

    <p>Hi,</p>
    <br>
    <br>Please send your friends an invitation to FASHIONNXT event <%= @event.title %> by entering their email in the below referral link. You will be receivng rewards if any of your friends purchase tickets to the event.</br>
    <br>
    </p>
    <div class="ticket">
        <img class='w-25 me-2' src='<%= url_for(@event.image) %>' alt='Event image' title='Event Image'>
        <p><b>Event date: <%= @event.datetime %></b></p>
        <p><strong>About Event: </strong><%= @event.description %></p>
        <%= @event.address %>
        <br>
    </div>  
    <%= link_to 'Referral', edit_event_guest_url(@event, @guest, :protocol => 'https'), :id => 'referral-button' %>
     <p>Looking forward to seeing you there!</p>
  </body>
</html>
