<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body style="background-color: white;">
  <table align="center" border="0" cellpadding="0" cellspacing="0" width="1200" style="border:2px solid black">
    <tbody>
      <tr style="height: 100px;">
        <td align="center" style="border: none; padding-right: 80px;padding-left:60px">
          <p style="color: palevioletred;font-size: 32px"><strong><%= @event.title %></strong></p>
        </td>
      </tr>
      <tr style="display: inline-block;">
        <td style="height: 100px; padding: 40px; border: none;">
          <p class="data" style="text-align: justify-all; align-items: center; font-size: 15px; font-family: Comic Sans MS, Comic Sans, cursive; padding-bottom: 12px; color: black"> Hi <%= @guest.first_name %> <%= @guest.last_name %>, <br> <br>You are invited to <%= @event.title %>.</br> <br> <br><strong>TO FOLLOW:</strong></br> </p>
          <div class="ticket">
            <p><b><strong>Event date: </strong><%= @event.datetime %></b></p>
            <p><strong>About Event:</strong> <%= @event.description %></p>
            <p><strong><%= @event.address %></p>
          </div>
          <p> <br> <a href='<%= @rsvp_url %>' style="text-decoration: none; color:black; border: 2px solid #b94c4c; padding: 10px 30px; font-weight: bold;"> RSVP </a> </p>
          <p style="color: black; font-family: Comic Sans MS, Comic Sans, cursive; font-size: 15px;"> <br> Looking forward to seeing you there! </p>
        </td>
      </tr>
    </tbody>
  </table>
</body>
</html>
