<head>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<style>
  .input-field {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .form-box {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
  }

  .form-label {
    display: block;
  }

  .form-control {
    width: 200px;
    height: 40px;
  }

  .form-group {
    margin-bottom: 0px; /* Adjust the margin between form groups */
  }
</style>

<div class="form-box">
  <%= form_with(model: email_service) do |form| %>
    <% if email_service.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(email_service.errors.count, "error") %> prohibited this email_service from being saved:</h2>
        <ul>
          <% email_service.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= form.label :event_id, class: "form-label" %>
      <%= form.select :event_id, options_for_select([[" ", nil]] + Event.all.map { |e| [e.title, e.id] }) %>
    </div>

    <div class="form-group">
      <%= form.label :guest_id, class: "form-label" %>
      <%= form.select :guest_id, options_for_select([[" ", nil]] + Guest.all.map { |g| ["#{g.first_name} #{g.last_name}", g.id] }) %>
    </div>

    <div class="form-group">
      <%= form.label :email_template_id, "Select Email Template", class: "form-label" %>
      <%= select_tag :email_template_id, options_for_select(EmailTemplate.pluck(:name, :id)), prompt: "Select an Email Template", class: "form-control", style: "width: 200px; height: 40px;", id: "email_template_select" %>
    </div>

    <div class="form-group">
      <%= form.label :to, class: "form-label" %>
      <%= form.text_field :to %>
    </div>

    <div class="form-group">
      <%= form.label :subject, class: "form-label" %>
      <%= form.text_field :subject, id: "email_subject" %>
    </div>

    <div class="form-group">
      <%= form.label :body, class: "form-label" %>
      <%= form.text_area :body, id: "email_body", style: "width: 200px; height: 100px;" %>
    </div>

    <div class="form-group">
      <%= form.submit %>
    </div>
  <% end %>

  <script>
    $(document).ready(function () {
      console.log("Document is ready.");

      $('#email_template_select').change(function () {
        console.log("Dropdown change event triggered.");

        var selectedTemplateId = $(this).val();

        $.get('/email_services/render_email_template', { id: selectedTemplateId }, function (data) {
          console.log("AJAX request successful.");
          $('#email_subject').val(data.subject);
          $('#email_body').val(data.body);
        });
      });
    });
  </script>
</div>
