<h1>New Template</h1>

<div class="form-box" style="width: 400px; margin: 0 auto; padding: 20px; border: 1px solid #ccc; border-radius: 10px;">
  <%= form_with(model: @email_template, url: { controller: "email_services", action: "add_email_template" }, local: true) do |f| %>
    <div class="field" style="margin-top: 10px;">
      <%= f.label :name, class: "form-label" %><br />
      <%= f.text_field :name, autofocus: true, value: '', style: "color: black; font-family: 'Times New Roman', Times, serif;" %>
    </div>

    <div class="field" style="margin-top: 10px;">
      <%= f.label :subject, class: "form-label" %><br />
      <%= f.text_field :subject, autofocus: true, style: "color: black; font-family: 'Times New Roman', Times, serif;" %>
    </div>

    <div class="field" style="margin-top: 10px;">
      <%= f.label :body, class: "form-label" %><br />
      <%= f.text_area :body, autofocus: true, style: "color: black; font-family: 'Times New Roman', Times, serif; width: 200px; height: 100px;" %>
    </div>

    <div class="details-container">
      <%= f.submit "Create New template", class: "btn btn-primary rounded-3", style: "background-color: #f0f0f0; color: black; font-family: 'Times New Roman';" %>
    </div>
  <% end %>
</div>
