<%= form_with(model: email_service) do |form| %>
  <% if email_service.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(email_service.errors.count, "error") %> prohibited this email_service from being saved:</h2>

      <ul>
        <% email_service.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  
  <!--===================-->
  <!--to give more info about the emails-->
  <div>
    <%= form.label :event_id, style: "display: block" %>
    <%= form.select :event_id, options_for_select([[" ", nil]] + Event.all.map{|e| [e.title, e.id]}) %>
  </div>
  <!--===================-->
  
  
  <div>
    <%= form.label :to, style: "display: block" %>
    <%= form.text_field :to %>
  </div>

  <div>
    <%= form.label :subject, style: "display: block" %>
    <%= form.text_field :subject %>
  </div>

  <div>
    <%= form.label :body, style: "display: block" %>
    <%= form.text_area :body %>
  </div>
  
  <div>
    <%= form.submit %>
  </div>
<% end %>
