<style>
  .highlight-heading {
    background-color: #333; /* or any other dark grey color you prefer */
    color: #fff; /* text color for better visibility */
  }

  .small-body-container {
    width: 600px; /* Set the width */
    height: 100px; /* Maintain aspect ratio */
    border: 1px solid #ccc;
    overflow: auto; /* Add overflow to allow scrolling if content is larger */
  }

</style>
<p style="color: green"><%= notice %></p>

<h1>Email Service</h1>


<%= render 'email_template' %>
   

<h2 style="margin-left:20%;margin-bottom:20px;margin-top:40px; font-size: 56px; color: #333; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);">Unsent Email Services Summary</h2>
<div class="container">
  <table class="table table-striped table-hover">
    <thead>
      <tr class="highlight-heading">
        <th>To</th>
        <th>Subject</th>
        <th>Body</th>
        <th>Send Email</th>
        <th>Edit Email</th>
        <th>Destroy Email</th>
      </tr>
    </thead>
    <% if @unsent_emails && !@unsent_emails.empty? %>
      <tbody>
        <% @unsent_emails.each do |email| %>
          <tr>
            <td><%= email[:to] %></td>
            <td><%= email[:subject] %></td>
            <td>
              <div class="small-body-container">
                <%= email[:body].html_safe %>
              </div>
            </td>
            <td>
              <%= link_to 'Send', send_email_email_service_path(email), style: 'display: inline-block; padding: 10px 10px; background-color: #4caf50; color: #fff; text-decoration: none; border: none; border-radius: 5px; cursor: pointer', class: 'button' %>
            </td>
            <td>
              <%= link_to 'Edit', edit_email_service_path(email), style: 'display: inline-block; padding: 10px 10px; background-color: #4caf50; color: #fff; text-decoration: none; border: none; border-radius: 5px; cursor: pointer', class: 'button' %>
            </td>
            <td>
              <%= link_to "Destroy", [email], method: :delete, style: 'display: inline-block; padding: 10px 10px; background-color: #4caf50; color: #fff; text-decoration: none; border: none; border-radius: 5px; cursor: pointer', class: 'button' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    <% end %>
  </table>
</div>

<%= link_to 'Add New Email', new_email_service_path(@event), style: 'display: inline-block; padding: 10px 20px; background-color: #4caf50; color: #fff; text-decoration: none; border: none; border-radius: 5px; cursor: pointer;margin-left:25%;margin-bottom:30px', class: 'button' %>


<h2 style="margin-left:20%;margin-bottom:20px;margin-top:40px; font-size: 56px; color: #333; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);">Sent Email Services Summary</h2>
<div class="container">
  <table class="table table-striped table-hover">
    <thead>
      <tr class="highlight-heading">
        <th>To</th>
        <th>Subject</th>
        <th>Body</th>
        <th>Re-Send Email</th>
        <th>Edit Email</th>
        <th>Destroy Email</th>
      </tr>
    </thead>
    <% if @sent_emails && !@sent_emails.empty? %>
      <tbody>
        <% @sent_emails.each do |email| %>
          <tr>
            <td><%= email[:to] %></td>
            <td><%= email[:subject] %></td>
            <td>
              <div class="small-body-container">
                <%= email[:body].html_safe %>
              </div>
            </td>
            <td>
              <%= link_to 'Send', send_email_email_service_path(email), style: 'display: inline-block; padding: 10px 10px; background-color: #4caf50; color: #fff; text-decoration: none; border: none; border-radius: 5px; cursor: pointer', class: 'button' %>
            </td>
            <td>
              <%= link_to 'Edit', edit_email_service_path(email), style: 'display: inline-block; padding: 10px 10px; background-color: #4caf50; color: #fff; text-decoration: none; border: none; border-radius: 5px; cursor: pointer', class: 'button' %>
            </td>
            <td>
              <%= link_to "Destroy", [email], method: :delete, style: 'display: inline-block; padding: 10px 10px; background-color: #4caf50; color: #fff; text-decoration: none; border: none; border-radius: 5px; cursor: pointer', class: 'button' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    <% end %>
  </table>
</div>
