<h1>Seating Types</h1>

<table class="table">
  <thead>
    <tr>
      <th>Seat category</th>
      <th>Total seat count</th>
      <th>Vip seat count</th>
      <th>Box office seat count</th>
      <th>Balance seats</th>
      <!--<th>Event</th>-->
      <th>Show</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    <% @seating_types.each do |seating_type| %>
      <tr>
        <td><%= seating_type.seat_category %></td>
        <td><%= seating_type.total_count %></td>
        <!--<td><%= seating_type.event %></td>-->
        <td><%= link_to 'Show', seating_type %></td>
        <td><%= link_to 'Edit', edit_seating_type_path(seating_type) %></td>
        <td><%= link_to 'Delete', seating_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Seating Type', new_seating_type_path %> |
<% if @seating_types.length() != 0 %>
 <%= link_to 'Back', event_path(@seating_types[0].event.id) %>
<% else %>
  <%= link_to 'Back', event_path(flash[:event_ref]) %>
<% end %>