<div class="jumbotron">

<p>
  <strong>Seat category:</strong>
  <%= @seating_type.category %>
</p>

<p>
  <strong>Total seat count:</strong>
  <%= @seating_type.total_count %>
</p>

<p>
  <strong>Balance seats:</strong>
  <%= @seating_type.price %>
</p>

<p>
  <strong>Event:</strong>
  <%= @seating_type.event.title %>
</p>

<%= link_to 'Edit', edit_event_seating_type_path(@seating_type), class:"btn btn-secondary" %> |
<%= link_to 'Back', event_path(@seating_type.event_id), class:"btn btn-secondary" %>
</div>