<div class="container col-xxl-8 px-4 py-5">
<h1 class="display-5 fw-bold lh-1 mb-4">Guests Import - Ticketmaster</h1>

<div id='sale_tickets' data-controller='boxoffice update' 
    data-boxoffice-eventid-value=<%= @event_id %>
    data-boxoffice-url-value="/api/v1/events/<%= @event_id %>/guests"
    data-update-url-value="/api/v1/events/<%= @event_id %>/sale_tickets"
    data-boxoffice-target='guestList'
    data-boxoffice-offset-value=0 
    data-boxoffice-limit-value=10
    data-action='update:created->boxoffice#query'> 

<%= form_with model: @guests_import, url: import_guests_path(@event_id), method: :post, class: 'row g-3' do |form| %>
  <% if @guests_import.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(@guests_import.errors.count, "error") %> prohibited this import from being saved:</h2>

      <ul>
      <% @guests_import.errors.full_mes sages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :event_id %>
    <%= form.text_field :event_id, value: @event_id %>
  </div>

  <div class="field">
    <%= form.label :api_key %>
    <%= form.text_field :api_key %>
  </div>
  
  <div class="field">
  <%= form.label :ticketing_website %>
  <%= form.select :ticketing_website, ['Ticketmaster', 'Eventbrite'], prompt: 'Select a ticketing website' %>
  </div>

  <div class="actions">
    <%= form.submit "Import Guests", class: 'btn btn-primary' %>
  </div>
<% end %>

</div>
</div>
 
  

 <template data-boxoffice-target='template'>
   
   <div class='row align-items-end mb-4 border-dark'>
  <div class='col-md-auto'><input class='form-check-input' type='checkbox' name='boxoffice_selector' data-nxt-id data-update-target='update'></div>
  <div class='col-md-3'><span data-nxt-first_name></span> <span data-nxt-last_name></span></div>
  <div class='col-md-3'><input name="boxoffice_email" type="text" data-nxt-email disabled></div>
  <div class='col-md-1'><span name="seat_section" data-nxt-seat_section disabled></div>
  <div class='col-md-1'><span name="tickets" data-nxt-tickets disabled></div>
  <div class='col-md-2'>
    <div class="dropdown">
      <button class='btn btn-secondary dropdown-toggle' type='button'
          data-bs-toggle='dropdown' aria-expanded='false'>
        Actions
      </button>
      <ul class='dropdown-menu'>
        <li><button class='dropdown-item dropdown-email-item' type='button' data-bs-toggle='modal' data-bs-target='#email-modal' data-nxt-email>Send Email</button></li>
        <li><hr class='dropdown-divider'></li>
        <li><button class='text-danger dropdown-item dropdown-delete-item' type='button' data-nxt-id data-action='destroy#destroyByValue'>Delete</button></li>
      </ul>
    </div>
  </div>
</div>

  <form class='row' data-boxoffice-target='form' data-action='change->boxoffice#boxoffice' name='boxoffice_display'>
    <div class='col-md-auto'><input class='form-check-input' type='checkbox' name='boxoffice_selector' data-nxt-id data-update-target='update'></div>
    <div class='col-md-3'><span data-nxt-first_name></span> <span data-nxt-last_name></span></div>
    <div class='col-md-3'><input name="boxoffice_email" type="text" data-nxt-email disabled></div>
    <div class='col-md-1'><span name="seat_section" data-nxt-seat_section disabled></div>
    <div class='col-md-1'><span name="tickets" data-nxt-tickets disabled></div>
    <div class='col-md-2'>
      <div class="dropdown">
        <button class='btn btn-secondary dropdown-toggle' type='button'
            data-bs-toggle='dropdown' aria-expanded='false'>
          Actions
        </button>
        <ul class='dropdown-menu'>
          <li><button class='dropdown-item dropdown-email-item' type='button' data-bs-toggle='modal' data-bs-target='#email-modal' data-nxt-email>Send Email</button></li>
          <li><hr class='dropdown-divider'></li>
          <li><button class='text-danger dropdown-item dropdown-delete-item' type='button' data-nxt-id data-action='destroy#destroyByValue'>Delete</button></li>
        </ul>
      </div>
  </form>
</template>

  <div class='container d-flex paginate-number' data-boxoffice-target='maxcount'>
    <div><span data-nxt-maxcount></span></div>
    <div><button class='paginate-button' data-action="boxoffice#decrementOffset boxoffice#query"><i class="arrow left"></i></button></div>
    <div><button class='paginate-button' data-action="boxoffice#incrementOffset boxoffice#query"><i class="arrow right"></i></button></div>
    <div>
      <label class='me-2' for='size'>Number of records:</label>
      <select id='size' data-boxoffice-target='limit' data-action="boxoffice#updateLimit boxoffice#query">
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="50">50</option>
        <option value="100">100</option>
      </select>
    </div>
  </div>
  <div class="container border-bottom border-dark">
    <div class='row align-items-end mb-4  border-dark'>
    <div class='col-md-auto'><input class='form-check-input' type='checkbox' name='selectAll' onClick="toggle(this)"></div>
      <div class='col-md-3'><span data-bs-toggle='tooltip' data-bs-placement='top'>Name</span></div>
      <div class='col-md-3'>Email</div>
      <div class='col-md-1'>Seat Level</div>
      <div class='col-md-1'>Number of Tickets</div>
      <div class='col-md-2'></div>
    </div>
  </div>
  <div class="container border-bottom border-dark" data-boxoffice-target='dom'>

    <div class='row align-items-end mb-4 border-dark'>
    </div>
  </div>
</div>

<script>
function toggle(source) {
  checkboxes = document.getElementsByName('boxoffice_selector');
  for(var i=0, n=checkboxes.length;i<n;i++) {
    checkboxes[i].checked = source.checked;
  }
}
</script>

<script>
    let input = document.querySelector("input#header-line");
    let button = document.querySelector("button#get-header");
    button.disabled = true;
    input.addEventListener("change", stateHandle);

    function stateHandle() {
        if(document.querySelector("input#header-line").value === "") {
            button.disabled = true;
        } else {
        button.disabled = false;
        }
    }
</script>

