<h1>New Event</h1>

<form method='post' action='/events/show'>
    <input type='number' id='user_id' name='user_id'>
    <input type='text' id='title' name='title'>
    <input type='text' id='address' name='address'>
    <input type='text' id='description' name='description'>
    <input type='datetime-local' id='datetime', name='datetime'>
    <input type="hidden" id="last_modified" name="last_modified" value= <%= Time.now %> >
    <input type='submit'>
</form>

<!-- Not really new but needs to go away from show.html.erb -->
<h3>Summarized Ticket Commitments Information</h3>

<div class="table-responsive">
<table class="table table-sm col-md-12">
  <thead class="thead-light">
    <tr> 
      <th>Seat Category</th>
      <th>Total Seats</th>
      <th>Total Box Office Commitments</th>
      <th>Total Guest Commitments</th>
      <th>Balance</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <!--<tr>-->
    <!-- <td><%= @event.seat_category %></td> -->
    <!-- <td><%= best_in_place [@event], :total_seats, :as => :input, :place_holder => "#{@event.total_seats}", :url => event_path(@event) %></td>-->
    <!--   <td><%= @event.total_seats_box_office %></td>-->
    <!--   <td><%= @event.total_seats_guest %></td>-->
    <!--   <td><%= @event.balance %></td>-->
    <!-- </tr>-->
  <!--  <% @total_seat_wise_split.each do |row| %>
      <tr>
        <td><%= row.seat_category %></td>
        <td><%= row.total_seats %></td>
        <td><%= row.vip_seats %></td>
        <td><%= row.non_vip_seats %></td>
        <td><%= row.balance %></td>
      </tr>
      
    <% end %>
    -->
    
    <% @seat_type_split.each do |row| %>
      <tr>
        <td><%= row.seat_category %></td>
        <td><%= row.total_seat_count %></td>
        <td><%= row.box_office_seat_count %></td>
        <td><%= row.vip_seat_count %></td>
        <td><%= row.balance_seats %></td>
        <td><%= link_to 'Edit', edit_seating_type_path(row) %></td>
        <td><%= link_to 'Delete', row, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>

    <tr>

    <!-- <%= form_tag("/seating_types/") %>
      <td><%= text_field_tag :"seating_type" %></td>
      <td><%= text_field_tag :"total_seat_count" %></td>
      <td><%= submit_tag("Add") %></td>
    </form>
    -->
    <td>  
          
    </tr>
  </tbody>
</table>



</div>

<div style="text-align: center;">
<%= link_to 'New Seating Type', new_seating_type_path, class:"btn btn-primary" %> <br> <br>


<br><br>
</div>


<h3> Guest List </h3>

<div class="table-responsive">
<table class="table table-sm col-md-12">
  <thead class="thead-light">
    <tr>
      <% @guest_params.each do |param| %>
        <% column_title = param.dup.gsub('_', ' ')%>
        <% column_title.capitalize! %>
        <th><%= column_title %></th>
      <% end %>
      <th>Action</th>
      <!--<th>Ticket Booking Status</th>-->
      <!--<th>Total Booked</th>-->
    </tr>
  </thead>
  <tbody>
    <% @guests.each do |guest| %>
      <tr>
        <% @guest_params.each do |param| %>
          <td>
            <%= best_in_place [@event, guest], param, :as => :input, :place_holder => "#{guest[param]}", 
              :url => update_event_guest_path(@event, guest) %>
          </td>
        <% end %>
        <td>
          <%= link_to "Send",  send_event_guest_path(@event, guest)%>
          <%= link_to "Delete", [@event, guest], method: :delete, data: { confirm: "Are you sure?" } %>
        </td>
        <!--<td>-->
        <!--  <%= guest.booking_status %>-->
        <!--</td>-->
        <!--<td>-->
        <!--  <%= guest.total_booked_num %>-->
        <!--</td>-->
      </tr>
    <% end %>
    <tr>
      <%= form_for [@event, @event.guests.build] do |form| %>
      <!--<%= form_for [@event, @event.guests.build],  :url => update_event_guest_path(@event) do |form| %>-->
        <% @guest_params.each do |param| %>  
        <% if param=="event_id" %>  
          <td> 
            <%= form.hidden_field :"#{param}" , value: @event.id %>
          </td>
        <% else %>
          <td> 
            <%= form.text_field :"#{param}" %>
          </td>
        <% end %>
        <% end %>
        <td><%= submit_tag("Add") %></td>
      <% end %>
      
      <!--<% (0..1).each do |i| %>     -->
      <!--  <td></td>-->
      <!--<% end %>-->
    </tr>
  </tbody>
</table>
</div>

<%= form_tag reconcile_path %>
<br>
<%= link_to "Reconcile", event_path(:reconcile => 'true', :id => @event.id), class:"btn btn-primary" %>

<h3><br>Box Office List</h3>
<div class="table-responsive">
<table class="table table-sm" id="events">
<thead class="thead-light">
  <tr>
    <% @customers[0].each do |column_name| %>
      <th><%= column_name %></th>
    <% end %>
  </tr>
</thead>
<tbody>
  <% @customers[1..-1].each do |row| %>
    <tr>
      <% row.each do |cell| %>
        <td>
          <%= cell %>
        </td>
      <% end %>
    </tr>
  <% end %>
</tbody>
</table>
</div>
</section>
</body>
<%end%>
