<div id='referral' data-controller='refer update'
    data-refer-url-value='/api/v1/events/<%= @event_id %>/refer?token=<%= @token %>?referee=<%= @referee %>'
    data-update-url-value='/api/v1/events/<%= @event_id %>/refer'
    data-action='update:created->refer#disableSubmit'>
  <template data-refer-target='template'>
    <div> 
      <p style="color: black"><b><strong>Event Details: <b></b>
      </p>
      <div class='card'>
        <img class='img-fluid' data-nxt-image_url>
        <div class='card-body'>
          <h5 class='card-title' data-nxt-title></h5>
          <h6 class='card-subtitle mb-2 text-muted datetime' data-nxt-datetime></h6>
          <h6 class='card-subtitle mb-2 text-muted address' data-nxt-address></h6>
          <p class='card-text description' data-nxt-description></p>
        </div>
      </div>
    </div>
  </template>
  <div class='mb-3' data-refer-target='dom'></div>
  <p>
    Please enter your friends email to refer them.
  </p>
  <form id='form-referral' data-action='update#sendFromForm'>
    <div class='input-group mb-3'>
      <input type='hidden' name='token' value='<%= @token %>'>
      <input type='email' name='email' placeholder='Email'>
      <button class='btn btn-outline-success' type='submit' value='submit' form='form-referral'
          data-refer-target='submit' data-action='dynamic#updateText' data-dynamic-text-param='Submitted'>Submit</button>
    </div>
  </form>
</div>
