<div id="<%= dom_id referral %>">
  <p>
    <strong>Email:</strong>
    <%= referral.email %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= referral.name %>
  </p>

  <p>
    <strong>Referred:</strong>
    <%= referral.referred %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= referral.status %>
  </p>

  <p>
    <strong>Tickets:</strong>
    <%= referral.tickets %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= referral.amount %>
  </p>

  <p>
    <strong>Reward method:</strong>
    <%= referral.reward_method %>
  </p>

  <p>
    <strong>Reward input:</strong>
    <%= referral.reward_input %>
  </p>

  <p>
    <strong>Reward value:</strong>
    <%= referral.reward_value %>
  </p>

</div>
