<!--===================-->
<!--event.last_modified is deleted since rails provide such information by default-->

<div class="form-box" style="width: 400px; margin: 0 auto; padding: 20px; border: 1px solid #ccc; border-radius: 10px;">
<%= form_with(model: @event,local: true, multipart: true) do |form| %>
  <% if event.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
        <% event.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group" style="margin-bottom: 20px;">
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title, class: 'form-control', style: 'width: 100%; padding: 10px; font-size: 16px; border: 1px solid #ccc; border-radius: 5px;' %>
  </div>

  <div class="form-group" style="margin-bottom: 20px;">
    <%= form.label :address, style: "display: block" %>
    <%= form.text_field :address, class: 'form-control', style: 'width: 100%; padding: 10px; font-size: 16px; border: 1px solid #ccc; border-radius: 5px;' %>
  </div>

  <div class="form-group" style="margin-bottom: 20px;">
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description, class: 'form-control', style: 'width: 100%; padding: 10px; font-size: 16px; border: 1px solid #ccc; border-radius: 5px;' %>
  </div>

  <div class="form-group" style="margin-bottom: 20px;">
    <%= form.label :datetime, style: "display: block" %>
    <%= form.datetime_field :datetime, class: 'form-control', style: 'width: 100%; padding: 10px; font-size: 16px; border: 1px solid #ccc; border-radius: 5px;' %>
  </div>
  
  
  <!--===================-->
  <!--to add upload field-->
  <div class="form-group" style="margin-bottom: 20px;">
    <%= form.label :event_avatar, style: "display: block" %>
    <%= form.file_field :event_avatar, class: 'form-control-file', style: 'width: 100%; padding: 10px; font-size: 16px; border: 1px solid #ccc; border-radius: 5px;' %>
  </div>
  
  <div class="form-group" style="margin-bottom: 20px;">
    <%= form.label :event_box_office, style: "display: block" %>
    <%= form.file_field :event_box_office, class: 'form-control-file', style: 'width: 100%; padding: 10px; font-size: 16px; border: 1px solid #ccc; border-radius: 5px;' %>
  </div>
  <!--===================-->
  
  
  <div class="actions">
    <%= form.submit 'Create / Edit', class: 'btn btn-primary', style: 'background-color: #007bff; color: #fff; border: none; padding: 10px 20px; border-radius: 5px; cursor: pointer;' %>
  </div>
<% end %>
</div>
