<style>
  .highlight-heading {
    background-color: #333; /* or any other dark grey color you prefer */
    color: #fff; /* text color for better visibility */
  }
</style>

<p style="color: green"><%= notice %></p>



<div class="container">
  <div class="row">
    <div class="col-md-6">
      <!-- Event Details -->
      <h2 style="margin-left:20%;margin-bottom:20px;margin-top:40px; font-size: 56px; color: #333; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);">Event Details</h2>
      <h3 style="margin-left:20%;margin-bottom:20px;margin-top:40px; font-size: 36px; color: #333; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);"><%= @event.title %></h3>
      <p style="margin-left:20%;margin-bottom:20px;margin-top:10px; font-size: 16px; color: #333; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);"><strong>Date:</strong> <%= @event.datetime %></p>
      <p style="margin-left:20%;margin-bottom:20px;margin-top:10px; font-size: 16px; color: #333; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);"><strong>Description:</strong> <%= @event.description %></p>
      <p style="margin-left:20%;margin-bottom:20px;margin-top:10px; font-size: 16px; color: #333; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);"><strong>Address:</strong> <%= @event.address %></p>
      <div>
        <%= link_to "Edit", edit_event_path(@event), class: "btn btn-primary", style: "width: 200px;margin-left:20%;margin-bottom:20px;margin-top:10px;" %>
        <%= button_to "Delete", @event, method: :delete, class: "btn btn-danger", style: "width: 200px;margin-left:20%;margin-bottom:20px;margin-top:10px;" %>
      </div>
    </div>

    <!-- Image Section -->
    <div class="col-md-6">
      <% if @event.event_avatar.file.present? %>
        <img class="d-block mx-lg-auto img-fluid w-100 rounded shadow" src='<%= @event.event_avatar.url %>'
             alt='Event image' width="400" height="400" loading="lazy">
      <% end %>
    </div>
  </div>
</div>




<!--===================-->
<!--to display nested children-->
<h2 style="margin-left:20%;margin-bottom:20px;margin-top:40px; font-size: 56px; color: #333; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);">Manage Seating Levels</h2>
<div class="container">
  <table class="table table-striped table-hover">
    <thead>
      <tr class="highlight-heading">
        <th>Category</th>
        <th>Section</th>
        <th>Total Count</th>
        <th>Edit Seat</th>
      </tr>
    </thead>
    <tbody>
      <% @seats.each do |seat| %>
        <tr>
          <td><%= seat[:category] %></td>
          <td><%= seat[:section] %></td>
          <td><%= seat[:total_count] %></td>
          <td><%= link_to 'Edit', edit_event_seat_path(@event, seat), style: 'display: inline-block; padding: 10px 20px; background-color: #4caf50; color: #fff; text-decoration: none; border: none; border-radius: 5px; cursor: pointer;', class: 'button' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= link_to 'Add New Seat', new_event_seat_path(@event), style: 'display: inline-block; padding: 10px 20px; background-color: #4caf50; color: #fff; text-decoration: none; border: none; border-radius: 5px; cursor: pointer;margin-left:25%;margin-bottom:30px', class: 'button' %>

<h2 style="margin-left:20%;margin-bottom:20px;margin-top:40px; font-size: 56px; color: #333; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);">Seating Summary</h2>
<!--to add link for the nested children-->
<div class="container">
  <table class="table table-striped table-hover">
    <thead>
      <tr class="highlight-heading">
        <th>Category</th>
        <th>Section</th>
        <th>Number of Guests</th>
        <th>Total Seats</th>
        <th>Allocated Seats</th>
        <th>Committed Seats</th>
        <th>Remaining Seats</th>
      </tr>
    </thead>
    <tbody>
      <% @seating_summary.each do |category| %>
        <tr>
          <td><%= category[:category] %></td>
          <td><%= category[:section] %></td>
          <td><%= category[:guests_count] %></td>
          <td><%= category[:total_seats] %></td>
          <td><%= category[:allocated_seats] %></td>
          <td><%= category[:committed_seats] %></td>
          <td><%= category[:total_seats] - (category[:committed_seats]) %></td> 
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<h2 style="margin-left:20%;margin-bottom:20px;margin-top:40px; font-size: 56px; color: #333; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);">Manage Invited Guests</h2>
<strong>NOTIFICATION(!): If you choose to upload a certain .xlsx file or a certain .csv file to enter the guest data, please note that some columns have to emerge with non-empty data such as Section.</strong>
<!--to add link for the nested children-->
<div class="container">
  <table class="table table-striped table-hover">
    <thead>
      <tr class="highlight-heading">
        <th>First name</th>
        <th>Last name</th>
        <th>Email</th>
        <th>Affiliation</th>
        <th>Category</th>
        <th>Section</th>
        <th>Allocated seat</th>
        <th>Committed seats</th>
        <th>Status</th>
        <th>Edit guest</th>
        <th>Destroy guest</th>
      </tr>
    </thead>
    <tbody>
      <% @guest_details.each do |guest| %>
        <tr>
          <td><%= guest[:first_name] %></td>
          <td><%= guest[:last_name] %></td>
          <td><%= guest[:email] %></td>
          <td><%= guest[:affiliation] %></td>
          <td><%= guest[:category] %></td>
          <td><%= guest[:section] %></td>
          <td><%= guest[:alloted_seats] %></td>
          <td><%= guest[:commited_seats] %></td>
          <td><%= guest[:status] %></td>
          <td><%= link_to 'Edit', edit_event_guest_path(@event, guest), style: 'display: inline-block; padding: 10px 20px; background-color: #4caf50; color: #fff; text-decoration: none; border: none; border-radius: 5px; cursor: pointer', class: 'button' %></td>
          <td><%= button_to "Destroy", event_guest_path(@event, guest), method: :delete, data: { confirm: "Are you sure?" }, class: "btn", style: "display: inline-block; padding: 10px 20px; background-color: #4caf50; color: #fff; text-decoration: none; border: none; border-radius: 5px; cursor: pointer" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div style="margin-left: 0%;">
<div style="margin-left: 25%; margin-bottom: 30px;">
  <%= link_to 'Add Guest', new_event_guest_path(@event), style: 'display: inline-block; padding: 10px 20px; background-color: #4caf50; color: #fff; text-decoration: none; border: none; border-radius: 5px; cursor: pointer', class: 'button' %>

  <%= form_tag import_csv_event_guests_path(@event), multipart: true, style: 'display: inline-block;' do %>
    <%= file_field_tag 'file', id: "file-upload", style: "display: none;", onchange: "submitForm()" %>
    <%= hidden_field_tag :event_id, @event.id %>
  
    <button type="button" onclick="document.getElementById('file-upload').click()" class="btn btn-primary" style="display: inline-block; padding: 10px 20px; background-color: #4caf50; color: #fff; text-decoration: none; border: none; border-radius: 5px; cursor: pointer">
      Upload File
    </button>
  <% end %>
  
  <script>
    function submitForm() {
      var fileInput = document.getElementById('file-upload');
      if(fileInput.value) {
        fileInput.form.submit();
      }
    }
  </script>
  

</div>
<h2 style="margin-left:20%;margin-bottom:20px;margin-top:40px; font-size: 56px; color: #333; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);">Box Office Sales</h2>
<strong>NOTIFICATION (!): Please upload .xlsx file having column names exactly 'Email', 'Tickets' and 'Amount', among other chosen columns, otherwise the corresponding data cannot be 
reflected correctly in the following referral table, causing eventually mistakes on the reward calculation and other considerations. We clarify further that the corresponding 'Tickets' means the quantity
of the tickets bought, and 'Amount' means on the other hand the total payment made for the tickets from the person for this event.</strong>
<% if @event_box_office_data.present? %>
<div class="container">
<table class="table table-striped table-hover">
  <thead>
    <tr class="highlight-heading">
      <% @event_box_office_data.first.each do |cell| %>
        <th><%= cell %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @event_box_office_data.drop(1).each do |row| %>
      <tr>
        <% row.each do |cell| %>
          <td><%= cell %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<% else %>
  <p>No box office spreadsheet uploaded for this event.</p>
<% end %>

<!--to be added-->
<h2 style="margin-left:20%;margin-bottom:20px;margin-top:40px; font-size: 56px; color: #333; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);">Manage Referrals</h2>
<strong>NOTIFICATION (!): If you change the box office data by uploading a new .xlsx file, please make sure that all rows from the previous .xlsx files are kept and retain in this current newly updated .xlsx file. Otherwise 
you will find tickets information in the referral table below from the previous .xlsx files but not from the current updated .xlsx file. Also when you change the box office data by uploading a new .xlsx file, you need to do 
  recalculation of the rewards to make sure the reward calculation is correct for each referral row in the following table. </strong>
<div class="container">
  <table class="table table-striped table-hover">
    <thead>
      <tr class="highlight-heading">
        <th>Email</th>
        <th>Name</th>
        <th>Referred</th>
        <th>Status</th>
        <th>Tickets</th>
        <th>Amount</th>
        <th>Input Reward</th>
        <th>Rewards</th>
        <th>Calculation</th>
      </tr>
      <% @referral_data.each do |referraldatum| %>
       <tr>
        <td><%= referraldatum.email %></td>
        <td><%= referraldatum.name %></td>
        <td><%= referraldatum.referred %></td>
        <td><%= referraldatum.status %></td>
        <td><%= referraldatum.tickets %></td>
        <td><%= referraldatum.amount %></td>
        <td><%= referraldatum.reward_input %></td>
        <td><%= referraldatum.reward_value %></td>
        <td><%= link_to 'Calculate', edit_event_referral_path(@event, referraldatum) %></td>
       </tr>
      <% end %>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
