<p style="color: green"><%= notice %></p>



<!--===================-->
<!--to add title to parent's details-->
<h2>Event Details</h2>
<div style="margin-left:300px">
  <h3><%= @event.title %></h3>
  <p><strong>Date:</strong> <%= @event.datetime %></p>
  <p><strong>Description:</strong> <%= @event.description %></p>
  <p><strong>Address:</strong> <%= @event.address %></p>
  <div>
    <%= link_to "Edit", edit_event_path(@event), class: "btn btn-primary", style: "width: 200px;margin-bottom: 20px" %>
    <%= button_to "Delete", @event, method: :delete, class: "btn btn-danger", style: "width: 200px;" %>
  </div>
</div>




<!--===================-->
<!--to display nested children-->
<h2 style="margin-left:20%;margin-bottom:20px;margin-top:40px">Manage Seating Levels</h2>

<!--to add link for the nested children-->
<%= link_to 'Add New Seat', event_seats_path(@event), style: 'display: inline-block; padding: 10px 20px; background-color: #4caf50; color: #fff; text-decoration: none; border: none; border-radius: 5px; cursor: pointer;margin-left:25%;margin-bottom:30px', class: 'button' %>
<table style="width: 300px; border: 1px solid #ccc;margin-left:22%">
  <tr style="background-color: #f2f2f2;">
    <th style="padding: 10px; border-bottom: 1px solid #ccc;">Category</th>
    <th style="padding: 10px; border-bottom: 1px solid #ccc;">Total Count</th>
  </tr>
</table>
<div style="display: flex; flex-wrap: wrap;">
  <% for seat in @event.seats %>
    <div style="flex: 0 0 23%; margin-right: 10px; margin-left: 22%">
      <%= render seat %>
    </div>
    <div style="flex: 0 0 40%;margin-right:200px margin-bottom: 100px;">
      <%= link_to "Show this seat", [@event, seat], style: 'display: inline-block; width: 30%; padding: 10px 20px; background-color: #007bff; color: #fff; text-decoration: none; border: none; border-radius: 5px; cursor: pointer; margin-right: 10px;' %>
    </div>
  <% end %>
</div>

<!--===================-->
<!--to display nested children-->
<h2>Manage Guests</h2>

<!--to add link for the nested children-->
<%= link_to 'Add Guest', event_guests_path(@event) %> 

<% for guest in @event.guests %>
  <%= render guest %>
  <div>
    <%= link_to "Show this guest", [@event, guest] %>
  </div>
<% end %>
<br></br> ========================================== <br></br>
<!--===================-->



<!--===================-->
<!--to display uploaded box office data-->
<h2>Manage Box Office Sales</h2>
<% if @event_box_office_data.present? %>
  <table>
    <% @event_box_office_data.each do |row| %>
      <tr>
        <% row.each do |cell| %>
          <td><%= cell %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
<% else %>
  <p>No box office spreadsheet uploaded for this event.</p>
<% end %>
========================================== <br></br>
<!--===================-->



<!--===================-->
<!--to be added-->
<h2>Manage Referrals</h2>
========================================== <br></br>
<!--===================-->
